.dashboard {

}

.fullscreen {
  /*border: 1px solid black;*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* H E A D E R */

.dashboard-header {
  background-color: #F1F6F9;
  border-bottom: 1px solid black;
  height: 10%;
  width: 100%;
  display: flex;
  min-width: 550px;
  min-height: 60px;
  justify-content: space-between;
}

.dashboard-logo-and-text-container {
  /*border: 1px solid red;*/
  height: 100%;
  display: flex;
  margin-left: 20px;
}

.dashboard-logo-container {
  /*border: 1px solid black;*/
  order: 1;
  align-self: center;
}

.dashboard-text-container {
  /*border: 1px solid blue;*/
  order: 2;
  align-self: center;
  padding-top: 14px;
  padding-left: 20px;
}

.dashboard-logo {
  width: 150px;

  /*center div inside div (parent has to be relative)*/
  /*position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);*/
  /*END - center div inside div (parent has to be relative)*/
}

.upper-toolbar-container {
  /*border: 1px solid black;*/
  height: 100%;
  display: flex;
  min-width: 180px;
  justify-content: space-between;
  margin-right: 20px;
}

.dashboard-text {
  font-size: 17px;
  color: #999EA7;
}

/* END - H E A D E R */







.sidebar-and-mainframe-container {
  /*border: 1px solid blue;*/
  display: flex;
  height: 90%;
  width: 100%;
  min-height: 560px;
  min-width: 550px;
}

.dashboard-sidebar {
  /*border: 1px solid red;*/
  background-color: #191426;
  display: inline-block;
  width: 70px;
  height: 100%;
  vertical-align: top;
  /*min-width: 60px;*/
  /*max-width: 70px;*/
  flex: none;
}

.main-frame {
  padding: 20px;
  background-color: #F1F6F9;
  display: inline-block;
  width: 94%;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
}







/* S I D E   B A R */

.sidebar-icon-container {
  margin-top: 20px;
}

.sidebar-icon-container svg {
  display: block;
  margin: 0 auto;
}

.sidebar-icon-container svg:hover {
  fill: #ffd967;
  cursor: pointer;
}

/* END - S I D E   B A R */


.account-name-container {
  order: 1;
  align-self: center;
  font-size: 20px;
}

.account-name-text:hover {
  color: #ffd967;
  cursor: pointer;
}


.toolbox-icon-container {
  order:2;
  align-self: center;
}

.toolbox-icon-container svg {

}

.toolbox-icon-container svg:hover {
  fill: #ffd967;
  cursor: pointer;
}


/*for two divs to sit side by side inside another div:

container div has to be block and with and height 100%
children has to be inline-block
then you can play with with and height precentage*/